@tailwind base;
@tailwind components;
@tailwind utilities;

p,
span,
h1,
h2,
h3,
h4 {
  cursor: default;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-white text-gray-900;
  }
}

@layer components {
  .btn {
    @apply px-6 py-2 rounded-full font-medium transition-all duration-300;
  }
  .btn-primary {
    @apply btn bg-primary text-white hover:bg-primary/90;
  }
  .section {
    @apply py-20 px-4 md:px-8;
  }
  .container {
    @apply max-w-7xl mx-auto;
  }
}

/* language switcher */

.toggle-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.toggle-switch {
  position: relative;
  width: 80px;
  height: 30px;
  /* background-color: #fcebd1; */
  border-radius: 26px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.toggle-switch.active {
  /* background-color: #f1c27d; */
}

.toggle-knob {
  position: absolute;
  width: 35px;
  height: 26px;
  background-color: rgba(52, 181, 255, 0.87);
  border-radius: 50px;
  top: 2px;
  left: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease;
}

.toggle-switch.active .toggle-knob {
  left: 37px; /* Knob sağa kayar */
}

.label {
  font-size: 16px;
  font-weight: 500;
  color: #222;
  cursor: pointer;
}

.label.left {
  position: absolute;
  left: 15px;
}

.label.right {
  position: absolute;
  right: 15px;
}

@media (max-width: 768px) {
  .toggle-wrapper {
    justify-content: flex-start;
  }
}
